<!DOCTYPE html>
<!-- saved from url=(0092) -->
<html lang="en"><script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="description" content="Responsive Bootstrap App Landing Page Template">
  <meta name="keywords" content="Kane, Bootstrap, Landing page, Template, App, Mobile">
  <meta name="author" content="Mizanur Rahman">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- SITE TITLE -->
  <title>MiLEEM</title>

  <!-- =========================
        FAV AND TOUCH ICONS
  ============================== -->
  <link rel="icon" href="http://templateocean.com/premium/template/kane/files/images/favicon.ico">
  <link rel="apple-touch-icon" href="http://templateocean.com/premium/template/kane/files/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://templateocean.com/premium/template/kane/files/images/apple-touch-icon-114x114.png">

  <!-- =========================
       STYLESHEETS
  ============================== -->
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="home/bootstrap.min.css">

  <!-- FONT ICONS -->
  <link rel="stylesheet" href="home/style.css">
  <link rel="stylesheet" href="home/styles1.css">
  <!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

  <!-- WEB FONTS -->
  <link href="./home/css" rel="stylesheet" type="text/css">

  <!-- CAROUSEL AND LIGHTBOX -->
  <link rel="stylesheet" href="home/owl.theme.css">
  <link rel="stylesheet" href="home/owl.carousel.css">
  <link rel="stylesheet" href="home/nivo-lightbox.css">
  <link rel="stylesheet" href="home/default.css">

  <!-- ANIMATIONS -->
  <link rel="stylesheet" href="home/animate.min.css">

  <!-- CUSTOM STYLESHEETS -->
  <link rel="stylesheet" href="home/styles.css">

  <!-- COLORS | CURRENTLY USED DIFFERENTLY TO SWITCH FOR DEMO. IN ORIGINAL FILE ALL COLORS LINK IS COMMENTED EXCEPT BLUE -->
  <link rel="stylesheet" href="home/blue.css" title="blue">

  <!-- RESPONSIVE FIXES -->
  <link rel="stylesheet" href="home/responsive.css">


  <!--[if lt IE 9]>
  <script src="home/html5shiv.js"></script>
  <script src="home/respond.min.js"></script>
  <![endif]-->

  <!-- JQUERY -->
  <script src="home/jquery.min.js"></script>

  <style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style><script type="text/javascript" src="chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js"></script></head>

<body>
<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader" style="display: none;">
  <div class="status" style="display: none;">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home" style="background-position: 0% 0px;">

  <!-- SOLID COLOR -->
  <div class="solid-color"> <!-- To make header full screen. Use .full-screen class with solid-color. Example: <div class="solid-color full-screen">  -->

    <!-- STICKY NAVIGATION -->
    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" style="top: -120px;">
      <div class="container">
        <div class="navbar-header">

          <!-- LOGO ON STICKY NAV BAR -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
            <span class="sr-only">Abrir navegacion</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#"><%= image_tag "logo-black.png" %></a>

        </div>

        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="kane-navigation">
          <ul class="nav navbar-nav navbar-right main-navigation">
            <li class="current"><a href="#home">Principal</a></li>
            <li><a href="#features">Caracteristicas</a></li>
            <li><a href="#brief1">Comprar o Alquilar</a></li>
            <li><a href="#brief2">Vender</a></li>
            <li><a href="#testimonials">Reseñas</a></li>
            <li><a href="#packages">Precios</a></li>
            <li><a href="#download">Descarga</a></li>
          </ul>
        </div>
      </div> <!-- /END CONTAINER -->
    </div> <!-- /END STICKY NAVIGATION -->


    <!-- CONTAINER -->
    <div class="container">

      <!-- ONLY LOGO ON HEADER -->
      <div class="only-logo">
        <div class="navbar">
          <div class="navbar-header">
            <%= image_tag "logo-white.png" %>
          </div>
        </div>
      </div> <!-- /END ONLY LOGO ON HEADER -->


      <a href="publications/" class="btn btn-success btn-lg" style="padding: 15px; padding-left: 50px; padding-right: 50px;">INGRESAR</a>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <!-- HEADING AND BUTTONS -->
          <div class="intro-section">

            <!-- WELCOM MESSAGE -->
            <h1 class="intro">La aplicacion para buscar tu nueva casa</h1>
            <h5>Disponible en el Play store</h5>

            <!-- BUTTON -->
            <div class="buttons" id="download-button">

              <a href="#download" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>Descargar App</a>

            </div>
            <!-- /END BUTTONS -->

          </div>
          <!-- /END HEADNING AND BUTTONS -->

        </div>
      </div>
      <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->
  </div>
  <!-- /END SOLID COLOR BG -->
</header>
<!-- /END HEADER -->

<!-- =========================
     FEATURES
============================== -->
<section class="features" id="features">

  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

      <!-- SECTION TITLE -->
      <h2 class="dark-text">Características principales</h2>
      <div class="colored-line">
      </div>
      <div class="section-description">
        Innovando para tu beneficio
      </div>
      <div class="colored-line">
      </div>
    </div>
    <!-- /END SECTION HEADER -->


    <div class="row">

      <!-- FEATURES LEFT -->
      <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_map_alt"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Ubicacion de las propiedades</h4>
            <p>
              Observa en el mapa la ubicacion de la propiedad que te interesa
            </p>
          </div>

        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_gift_alt"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Busqueda con caracteristicas</h4>
            <p>
              Filtra las propiedades por las caracteristicas que buscas
            </p>
          </div>

        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_tablet"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Propiedades cercanas</h4>
            <p>
              Encontra las propiedades mas cercanas a la zona que te interesa
            </p>
          </div>

        </div>
        <!-- /END SINGLE FEATURE -->

      </div>
      <!-- /END FEATURES LEFT -->

      <!-- PHONE IMAGE -->
      <div class="col-md-4 col-sm-4">
        <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
          <img src="./home/seleccion.png" alt="">
        </div>
      </div>

      <!-- FEATURES RIGHT -->
      <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_genius"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Contacto</h4>
            <p>
              Comunicate con el dueño de la propiedad que te interesa
            </p>
          </div>

        </div>
        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_lightbulb_alt"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Valores de mercado</h4>
            <p>
              Esta al tanto de valor del mercado para propiedades similares
            </p>
          </div>

        </div>

        <!-- /END SINGLE FEATURE -->

        <!-- FEATURE -->
        <div class="feature">

          <!-- ICON -->
          <div class="icon-container">
            <div class="icon">
              <i class="icon_ribbon_alt"></i>
            </div>
          </div>

          <!-- FEATURE HEADING AND DESCRIPTION -->
          <div class="fetaure-details">
            <h4 class="main-color">Estadisticas</h4>
            <p>
              Informate en el centro de estadisticas sobre todo lo que necesitas
            </p>
          </div>

        </div>
        <!-- /END SINGLE FEATURE -->

      </div>
      <!-- /END FEATURES RIGHT -->

    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->


<!-- =========================
     BRIEF LEFT SECTION
============================== -->
<section class="app-brief grey-bg" id="brief1">

  <div class="container">

    <div class="row">

      <!-- PHONES IMAGE -->
      <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">
        <div class="phone-image">
          <img src="./home/union.png" alt="">
        </div>
      </div>

      <!-- RIGHT SIDE WITH BRIEF -->
      <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

        <!-- SECTION TITLE -->
        <h2 class="dark-text">Comprar o Alquilar</h2>

        <div class="colored-line-left">
        </div>

        <p>
          Comprar o alguilar la casa de tu sueños nunca fue tan facil y rapido. Utilizando nuestra aplicacion para dispositivos smart phone podes encontrar lo que buscas de la mejor forma
        </p>

        <!-- FEATURE LIST -->
        <ul class="feature-list">
          <li><i class="icon_paperclip"></i> Rapido, porque no necesitas registrarte</li>
          <li><i class="icon_check_alt2"></i> Barato, porque no te cobramos comicion</li>
          <li><i class="icon_lock_alt"></i> Seguro, porque comprobamos todos los vendedores</li>
        </ul>

      </div>
      <!-- /END RIGHT BRIEF -->

    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF RIGHT SECTION
============================== -->
<section class="app-brief" id="brief2">

  <div class="container">

    <div class="row">

      <!-- BRIEF -->
      <div class="col-md-12 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

        <!-- SECTION TITLE -->
        <h2 class="dark-text">Vender o alquilar</h2>

        <div class="colored-line">
        </div>

        <br/>
        <p>
          Si tenes alguna propiedad a la venta o en alquiler, unite a nuestra pagina y publica gratis de forma facil y rápida
        </p>
        <br/>
        <a href="/users/sign_up" class="btn btn-default btn-lg standard-button">Registrarse</a>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
      <!-- /ENDBRIEF -->


    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     TESTIMONIALS
============================== -->
<section class="testimonials" id="testimonials">

  <div class="solid-color">

    <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

      <!-- FEEDBACKS -->
      <div id="feedbacks" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

        <!-- SINGLE FEEDBACK -->
        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 6840px; left: -1140px; display: block;">
          <div class="owl-item" style="width: 1140px;"><div class="feedback">

          <!-- IMAGE -->
          <div class="image">
            <!-- i class=" icon_quotations"></i -->
            <img src="./home/3.jpg" alt="">
          </div>

          <div class="message">
            Tuve un departamento en venta por un año, pase por tres inmobiliarias pero no conseguia comprador. Luego encontre MiLEEM y publique gratis. Todos los dias tenia gente interesada y en menos de un me logra vender mi casa.
          </div>

          <div class="white-line">
          </div>

          <!-- INFORMATION -->
          <div class="name">
            Martin Dolino
          </div>
          <div class="company-info">
            Ciudad de Buenos Aires
          </div>

        </div></div>

          <div class="owl-item" style="width: 1140px;"><div class="feedback">

          <!-- IMAGE -->
          <div class="image">
            <!-- i class=" icon_quotations"></i -->
            <img src="./home/1.jpg" alt="">
          </div>

          <div class="message">
            Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
          </div>

          <div class="white-line">
          </div>

          <!-- INFORMATION -->
          <div class="name">
            John Doe
          </div>
          <div class="company-info">
            CEO, AbZ Network
          </div>

        </div></div>

          <div class="owl-item" style="width: 1140px;"><div class="feedback">

          <!-- IMAGE -->
          <div class="image">
            <!-- i class=" icon_quotations"></i -->
            <img src="./home/2.jpg" alt="">
          </div>

          <div class="message">
            Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
          </div>

          <div class="white-line">
          </div>

          <!-- INFORMATION -->
          <div class="name">
            John Doe
          </div>
          <div class="company-info">
            CEO, AbZ Network
          </div>

        </div></div>
        </div></div>
        <!-- /END SINGLE FEEDBACK -->

        <!-- SINGLE FEEDBACK -->

        <!-- /END SINGLE FEEDBACK -->

        <!-- SINGLE FEEDBACK -->

        <!-- /END SINGLE FEEDBACK -->

        <div class="owl-col-md-4 clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div>
      <!-- /END FEEDBACKS -->

    </div>
    <!-- /END CONTAINER -->

  </div>
  <!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->


<!-- =========================
     PRICING TABLE | Added on version 1.7
============================== -->
<section class="packages" id="packages">

  <div class="container">

    <!-- SECTION HEADER -->
    <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

      <!-- SECTION TITLE -->
      <h2 class="dark-text">Precio de publicaciones</h2>
      <div class="colored-line">
      </div>

      <div class="section-description">
        Lista de los tipos de publicaciones disponibles
      </div>

      <div class="colored-line">
      </div>
    </div>
    <!-- /END SECTION HEADER -->
    <div class="row">
      <%= render partial: "publication_types/publication_type", collection: PublicationType.all %>
    </div>
    <!-- /END ROW -->

  </div>
  <!-- /END CONTAINER -->
</section>
<!-- /END PRICING TABLE SECTION -->


<!-- =========================
     DOWNLOAD NOW
============================== -->
<section class="download" id="download">

  <div class="solid-color">

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <!-- DOWNLOAD BUTTONS AREA -->
          <div class="download-container">
            <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">Descargar la aplicacion de</h2>

            <!-- BUTTONS -->
            <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

              <a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>

            </div>
            <!-- /END BUTTONS -->

          </div>
          <!-- END OF DOWNLOAD BUTTONS AREA -->


            <!-- /END MAILCHIMP FORM STARTS -->

            <!-- =====================
                 LOCAL TXT FORM STARTS
                 ===================== -->

            <!-- THIS FORM IS COMMENTED TO HIDE

            <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">

                <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
                <h4 class="subscription-error">Something Wrong!</h4>

                <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

                <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

            </form>

            -->

            <!-- / LOCAL TXT SAVING FORM END -->

          </div>
          <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

        </div>
        <!-- END COLUMN -->

      </div>
      <!-- END ROW -->

    </div>
    <!-- /END CONTAINER -->
  </div>
  <!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER
============================== -->
<footer>

  <div class="container">

    <div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;">

      <!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->

      <a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>

      <!-- EXPANDED CONTACT FORM -->
      <div class="row expanded-contact-form" style="display: block;">

        <div class="col-md-8 col-md-offset-2">

          <!-- FORM -->
          <form class="contact-form" id="contact" role="form">

            <!-- IF MAIL SENT SUCCESSFULLY -->
            <h4 class="success">
              <i class="icon_check"></i> Su mensaje se envio correctamente
            </h4>

            <!-- IF MAIL SENDING UNSUCCESSFULL -->
            <h4 class="error">
              <i class="icon_error-circle_alt"></i> El email tiene que ser valido y el mensaje debe tener al menos un caracter.
            </h4>

            <div class="col-md-6">
              <input class="form-control input-box" id="name" type="text" name="name" placeholder="Su nombre">
            </div>

            <div class="col-md-6">
              <input class="form-control input-box" id="email" type="email" name="email" placeholder="Su correo electronico">
            </div>

            <div class="col-md-12">
              <input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Tema">
              <textarea class="form-control textarea-box" id="message" rows="8" placeholder="Mensaje"></textarea>
            </div>

            <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Enviar mensaje</button>

          </form>
          <!-- /END FORM -->

        </div>

      </div>
      <!-- /END EXPANDED CONTACT FORM -->

    </div>
    <!-- /END CONTACT BOX -->

    <!-- LOGO -->
    <%= image_tag "logo-black.png" %>

    <!-- SOCIAL ICONS -->
    <ul class="social-icons">
      <li><a href=""><i class="social_facebook_square"></i></a></li>
      <li><a href=""><i class="social_twitter_square"></i></a></li>
      <li><a href=""><i class="social_pinterest_square"></i></a></li>
      <li><a href=""><i class="social_googleplus_square"></i></a></li>
      <li><a href=""><i class="social_instagram_square"></i></a></li>
      <li><a href=""><i class="social_dribbble_square"></i></a></li>
      <li><a href=""><i class="social_flickr_square"></i></a></li>
    </ul>

    <!-- COPYRIGHT TEXT -->
    <p class="copyright">
      ©2014 MiLLEM, All Rights Reserved
    </p>

  </div>
  <!-- /END CONTAINER -->

</footer>
<!-- /END FOOTER -->


<!-- =========================
     SCRIPTS
============================== -->

<script src="./home/bootstrap.min.js"></script>
<script src="./home/smoothscroll.js"></script>
<script src="./home/jquery.scrollTo.min.js"></script>
<script src="./home/jquery.localScroll.min.js"></script>
<script src="./home/owl.carousel.min.js"></script>
<script src="./home/nivo-lightbox.min.js"></script>
<script src="./home/simple-expand.min.js"></script>
<script src="./home/wow.min.js"></script>
<script src="./home/jquery.stellar.min.js"></script>
<script src="./home/retina-1.1.0.min.js"></script>
<script src="./home/jquery.nav.js"></script>
<script src="./home/matchMedia.js"></script>
<script src="./home/jquery.ajaxchimp.min.js"></script>
<script src="./home/jquery.fitvids.js"></script>
<script src="./home/custom.js"></script>



</body>
</html>