/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.login-form-x{
  background-color:#00c0e4;
  color: #333;
  padding-bottom: 300px !important;
}

body{
  background-color:#00c0e4 !important;
  color: #333;
}

.main-container{
  background-color:#F8F8F8;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding-bottom: 20px;
}

.footer{
  margin-top: 30px;
  text-align: center;
  height: 60px;
}

html,
body {
   height: 100%;
   /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.header-shadow{
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
  border: 1px rgba(0,0,0,0.1) solid;
}

.container-shadow{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.flash-container .alert {
  width: 100%;
}
