<% if user_signed_in? %>
    <li><%= link_to "Publicaciones", publications_path %></li>
    <li><%= link_to "Propiedades", properties_path %></li>
    <li><%= link_to "Usuarios", users_path %></li>
<% end %>
