
<% if user_signed_in? %>
    <li class="<%= "active" if params[:controller] == "devise/registrations" %>"><%= link_to t("app.navigation.account"), edit_user_registration_path %></li>
    <li><%= link_to t("app.navigation.logout"), destroy_user_session_path, :method=>'delete' %></li>
<% end %>